In [1]:
import numpy as np
import pandas as pd

In [2]:
death_under5 = pd.read_csv('data/causes_death_children_under5.csv')
death_under5

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,48,105,1779,718,431,8649,477,...,7112,2455,3968,131,802,808,10,776,21,123
1,African Region (WHO),0,1990,26869,4381,170136,3388,17987,311413,17025,...,100379,71931,686390,9165,28173,78180,67976,16651,447410,54547
2,Albania,ALB,1990,0,5,33,3,44,176,136,...,310,25,68,11,27,4,0,34,0,10
3,Algeria,DZA,1990,16,17,316,92,182,2599,239,...,3326,628,2666,217,1446,94,15,310,0,163
4,American Samoa,ASM,1990,0,0,1,0,0,2,0,...,2,1,1,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,World Bank Lower Middle Income,0,2019,31512,5188,34881,10748,19536,22646,19148,...,256369,60535,302100,6986,16890,24981,20756,19866,155443,38587
6836,World Bank Upper Middle Income,0,2019,324,2458,4868,273,9475,1593,4364,...,29160,3880,11628,1587,8193,1435,5222,7453,779,5750
6837,Yemen,YEM,2019,56,35,542,53,248,366,267,...,6492,901,5950,144,1124,65,86,218,64,395
6838,Zambia,ZMB,2019,45,71,986,14,399,137,243,...,1984,455,3754,92,147,251,3022,130,2496,1329
6839,Zimbabwe,ZWE,2019,108,31,1598,15,57,349,89,...,2190,536,1067,112,112,661,1394,127,1207,413

In [3]:
death_under5.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Measles - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Drowning - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Malaria - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)'],
      dtype='object')

In [4]:
death_under5.Entity.nunique()

228

In [5]:
death_by_age = pd.read_csv('data/child-deaths-by-age.csv')
death_by_age

,Entity,Code,Year,Deaths - All causes - Sex: Both - Age: 7-27 days (Number),Deaths - All causes - Sex: Both - Age: 1-4 years (Number),Deaths - All causes - Sex: Both - Age: 0-6 days (Number),Deaths - All causes - Sex: Both - Age: 28-364 days (Number)
0,Afghanistan,AFG,1990,9869,21812,15560,30929
1,Afghanistan,AFG,1991,10963,21565,17665,32841
2,Afghanistan,AFG,1992,12905,21929,21124,37901
3,Afghanistan,AFG,1993,14399,24292,23522,44325
4,Afghanistan,AFG,1994,15015,28068,24633,47618
...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2564,6567,8840,8581
6836,Zimbabwe,ZWE,2016,2476,6245,8626,8152
6837,Zimbabwe,ZWE,2017,2407,6031,8478,7849
6838,Zimbabwe,ZWE,2018,2335,5745,8302,7523
6839,Zimbabwe,ZWE,2019,2303,5646,8230,7387

In [6]:
death_by_age.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - All causes - Sex: Both - Age: 7-27 days (Number)',
       'Deaths - All causes - Sex: Both - Age: 1-4 years (Number)',
       'Deaths - All causes - Sex: Both - Age: 0-6 days (Number)',
       'Deaths - All causes - Sex: Both - Age: 28-364 days (Number)'],
      dtype='object')

In [7]:
death_by_age['Deaths - All causes - Sex: Both - Age: 1-4 years (Number)'].value_counts()

3        142
0        122
4        112
1         97
2         88
        ...
5112       1
3063       1
5108       1
9202       1
10239      1
Name: Deaths - All causes - Sex: Both - Age: 1-4 years (Number), Length: 3802, dtype: int64

In [8]:
death_by_age['Entity'].nunique()

228

In [9]:
merged_df = death_under5.merge(death_by_age, on=['Entity', 'Code', 'Year'], how='outer')
merged_df

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number),Deaths - All causes - Sex: Both - Age: 7-27 days (Number),Deaths - All causes - Sex: Both - Age: 1-4 years (Number),Deaths - All causes - Sex: Both - Age: 0-6 days (Number),Deaths - All causes - Sex: Both - Age: 28-364 days (Number)
0,Afghanistan,AFG,1990,48.0,105.0,1779.0,718.0,431.0,8649.0,477.0,...,802.0,808.0,10.0,776.0,21.0,123.0,9869.0,21812.0,15560.0,30929.0
1,African Region (WHO),0,1990,26869.0,4381.0,170136.0,3388.0,17987.0,311413.0,17025.0,...,28173.0,78180.0,67976.0,16651.0,447410.0,54547.0,NaN,NaN,NaN,NaN
2,Albania,ALB,1990,0.0,5.0,33.0,3.0,44.0,176.0,136.0,...,27.0,4.0,0.0,34.0,0.0,10.0,208.0,849.0,989.0,1524.0
3,Algeria,DZA,1990,16.0,17.0,316.0,92.0,182.0,2599.0,239.0,...,1446.0,94.0,15.0,310.0,0.0,163.0,6461.0,6742.0,13487.0,19201.0
4,American Samoa,ASM,1990,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,3.0,6.0,11.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,World Bank Upper Middle Income,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,61105.0,92670.0,220943.0,176564.0
7556,World Bank Upper Middle Income,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58912.0,88727.0,210245.0,170228.0
7557,World Bank Upper Middle Income,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53809.0,84805.0,190375.0,158360.0
7558,World Bank Upper Middle Income,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,49874.0,79237.0,175313.0,144154.0
7559,World Bank Upper Middle Income,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,47004.0,74604.0,164793.0,133548.0

In [10]:
death_by_sex = pd.read_csv('data/child-mortality-by-sex.csv')
death_by_sex

,Entity,Code,Year,"Mortality rate, under-5, female (per 1,000 live births)","Mortality rate, under-5, male (per 1,000 live births)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1961,34.370001,35.979999,9169406.0,NaN
2,Afghanistan,AFG,1962,33.810001,35.400000,9351442.0,NaN
3,Afghanistan,AFG,1963,33.250000,34.829999,9543200.0,NaN
4,Afghanistan,AFG,1964,32.729999,34.260001,9744772.0,NaN
...,...,...,...,...,...,...,...
56103,Zimbabwe,ZWE,1957,NaN,NaN,3425070.0,NaN
56104,Zimbabwe,ZWE,1958,NaN,NaN,3537167.0,NaN
56105,Zimbabwe,ZWE,1959,NaN,NaN,3654172.0,NaN
56106,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56107,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [11]:
merged_df2 = merged_df.merge(death_by_sex, on=['Entity', 'Code', 'Year'], how='inner')
merged_df2

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number),Deaths - All causes - Sex: Both - Age: 7-27 days (Number),Deaths - All causes - Sex: Both - Age: 1-4 years (Number),Deaths - All causes - Sex: Both - Age: 0-6 days (Number),Deaths - All causes - Sex: Both - Age: 28-364 days (Number),"Mortality rate, under-5, female (per 1,000 live births)","Mortality rate, under-5, male (per 1,000 live births)",Population (historical estimates),Continent
0,Afghanistan,AFG,1990,48.0,105.0,1779.0,718.0,431.0,8649.0,477.0,...,21.0,123.0,9869.0,21812.0,15560.0,30929.0,17.389999,18.25,12412311.0,NaN
1,Albania,ALB,1990,0.0,5.0,33.0,3.0,44.0,176.0,136.0,...,0.0,10.0,208.0,849.0,989.0,1524.0,3.690000,4.49,3286070.0,NaN
2,Algeria,DZA,1990,16.0,17.0,316.0,92.0,182.0,2599.0,239.0,...,0.0,163.0,6461.0,6742.0,13487.0,19201.0,4.480000,5.32,25758872.0,NaN
3,American Samoa,ASM,1990,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,0.0,3.0,3.0,6.0,11.0,8.0,NaN,NaN,47351.0,NaN
4,Andorra,AND,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.270000,1.74,54508.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,Timor,TLS,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,64.0,276.0,557.0,444.0,4.590000,5.43,1196294.0,Asia
6146,Timor,TLS,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,64.0,268.0,558.0,435.0,4.430000,5.24,1219289.0,NaN
6147,Timor,TLS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,63.0,254.0,547.0,416.0,4.270000,5.06,1243260.0,NaN
6148,Timor,TLS,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,62.0,244.0,542.0,404.0,4.120000,4.89,1267975.0,NaN
6149,Timor,TLS,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,62.0,236.0,540.0,396.0,3.960000,4.74,1293120.0,NaN

In [12]:
merged_df2.isna().sum()

Entity                                                                                                      0
Code                                                                                                        0
Year                                                                                                        0
Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)                      30
Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)                                        30
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                      30
Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)                                               30
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                     30
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                       30
Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)                                            30
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)                    30
Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)                                        30
Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)                                       30
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                      30
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                  30
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                        30
Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)                          30
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)                 30
Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)                                  30
Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)                                             30
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)      30
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                    30
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                      30
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                                30
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                            30
Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)                                30
Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)                                                 30
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                  30
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                      30
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                      30
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                       30
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                      30
Deaths - All causes - Sex: Both - Age: 7-27 days (Number)                                                   0
Deaths - All causes - Sex: Both - Age: 1-4 years (Number)                                                   0
Deaths - All causes - Sex: Both - Age: 0-6 days (Number)                                                    0
Deaths - All causes - Sex: Both - Age: 28-364 days (Number)                                                 0
Mortality rate, under-5, female (per 1,000 live births)                                                   330
Mortality rate, under-5, male (per 1,000 live births)                                                     330
Population (historical estimates)                                                                           0
Continent                                                                                                5946
dtype: int64

In [13]:
percent_missing = (merged_df2.isna().sum()/len(merged_df2))*100
percent_missing

Entity                                                                                                    0.000000
Code                                                                                                      0.000000
Year                                                                                                      0.000000
Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)                     0.487805
Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)                                       0.487805
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                     0.487805
Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)                                              0.487805
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                    0.487805
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                      0.487805
Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)                                           0.487805
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)                   0.487805
Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)                                       0.487805
Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)                                      0.487805
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                     0.487805
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                 0.487805
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                       0.487805
Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)                         0.487805
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)                0.487805
Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)                                 0.487805
Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)                                            0.487805
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)     0.487805
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                   0.487805
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                     0.487805
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                               0.487805
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                           0.487805
Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)                               0.487805
Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)                                                0.487805
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                 0.487805
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                     0.487805
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                     0.487805
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                      0.487805
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                     0.487805
Deaths - All causes - Sex: Both - Age: 7-27 days (Number)                                                 0.000000
Deaths - All causes - Sex: Both - Age: 1-4 years (Number)                                                 0.000000
Deaths - All causes - Sex: Both - Age: 0-6 days (Number)                                                  0.000000
Deaths - All causes - Sex: Both - Age: 28-364 days (Number)                                               0.000000
Mortality rate, under-5, female (per 1,000 live births)                                                   5.365854
Mortality rate, under-5, male (per 1,000 live births)                                                     5.365854
Population (historical estimates)                                                                         0.000000
Continent                                                                                                96.682927
dtype: float64

In [14]:
poverty_and_mortality = pd.read_csv('data/poverty-and-child-mortality.csv')
poverty_and_mortality

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)",$1.90 per day - share of population below poverty line,Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1960,35.820001,NaN,8996967.0,NaN
2,Afghanistan,AFG,1961,35.220001,NaN,9169406.0,NaN
3,Afghanistan,AFG,1962,34.629999,NaN,9351442.0,NaN
4,Afghanistan,AFG,1963,34.060001,NaN,9543200.0,NaN
...,...,...,...,...,...,...,...
56531,Zimbabwe,ZWE,1957,NaN,NaN,3425070.0,NaN
56532,Zimbabwe,ZWE,1958,NaN,NaN,3537167.0,NaN
56533,Zimbabwe,ZWE,1959,NaN,NaN,3654172.0,NaN
56534,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56535,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [15]:
health_expenditure_and_mortality = pd.read_csv('data/per-capita-total-expenditure-on-health-vs-child-mortality.csv')
health_expenditure_and_mortality

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)","Current health expenditure per capita, PPP (current international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1960,35.820001,NaN,8996967.0,NaN
2,Afghanistan,AFG,1961,35.220001,NaN,9169406.0,NaN
3,Afghanistan,AFG,1962,34.629999,NaN,9351442.0,NaN
4,Afghanistan,AFG,1963,34.060001,NaN,9543200.0,NaN
...,...,...,...,...,...,...,...
56103,Zimbabwe,ZWE,1957,NaN,NaN,3425070.0,NaN
56104,Zimbabwe,ZWE,1958,NaN,NaN,3537167.0,NaN
56105,Zimbabwe,ZWE,1959,NaN,NaN,3654172.0,NaN
56106,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56107,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [16]:
merged_df3 = health_expenditure_and_mortality.merge(poverty_and_mortality, on=['Entity', 'Code', 'Year'], how='outer')
merged_df3

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)_x","Current health expenditure per capita, PPP (current international $)",Population (historical estimates)_x,Continent_x,"Mortality rate, under-5 (per 1,000 live births)_y",$1.90 per day - share of population below poverty line,Population (historical estimates)_y,Continent_y
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1960,35.820001,NaN,8996967.0,NaN,35.820001,NaN,8996967.0,NaN
2,Afghanistan,AFG,1961,35.220001,NaN,9169406.0,NaN,35.220001,NaN,9169406.0,NaN
3,Afghanistan,AFG,1962,34.629999,NaN,9351442.0,NaN,34.629999,NaN,9351442.0,NaN
4,Afghanistan,AFG,1963,34.060001,NaN,9543200.0,NaN,34.060001,NaN,9543200.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
56531,Suriname (Urban),NaN,2015,NaN,NaN,NaN,NaN,NaN,17.11924,NaN,NaN
56532,Suriname (Urban),NaN,2016,NaN,NaN,NaN,NaN,NaN,17.53247,NaN,NaN
56533,Suriname (Urban),NaN,2017,NaN,NaN,NaN,NaN,NaN,17.53247,NaN,NaN
56534,Suriname (Urban),NaN,2018,NaN,NaN,NaN,NaN,NaN,17.53247,NaN,NaN
56535,Suriname (Urban),NaN,2019,NaN,NaN,NaN,NaN,NaN,17.53247,NaN,NaN

In [17]:
merged_df3.columns

Index(['Entity', 'Code', 'Year',
       'Mortality rate, under-5 (per 1,000 live births)_x',
       'Current health expenditure per capita, PPP (current international $)',
       'Population (historical estimates)_x', 'Continent_x',
       'Mortality rate, under-5 (per 1,000 live births)_y',
       '$1.90 per day - share of population below poverty line',
       'Population (historical estimates)_y', 'Continent_y'],
      dtype='object')

In [18]:
unique_columns = [col for col in merged_df3.columns if not col.endswith('_y')]
merged_df3_unique = merged_df3[unique_columns]
merged_df3_unique

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)_x","Current health expenditure per capita, PPP (current international $)",Population (historical estimates)_x,Continent_x,$1.90 per day - share of population below poverty line
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia,NaN
1,Afghanistan,AFG,1960,35.820001,NaN,8996967.0,NaN,NaN
2,Afghanistan,AFG,1961,35.220001,NaN,9169406.0,NaN,NaN
3,Afghanistan,AFG,1962,34.629999,NaN,9351442.0,NaN,NaN
4,Afghanistan,AFG,1963,34.060001,NaN,9543200.0,NaN,NaN
...,...,...,...,...,...,...,...,...
56531,Suriname (Urban),NaN,2015,NaN,NaN,NaN,NaN,17.11924
56532,Suriname (Urban),NaN,2016,NaN,NaN,NaN,NaN,17.53247
56533,Suriname (Urban),NaN,2017,NaN,NaN,NaN,NaN,17.53247
56534,Suriname (Urban),NaN,2018,NaN,NaN,NaN,NaN,17.53247
56535,Suriname (Urban),NaN,2019,NaN,NaN,NaN,NaN,17.53247

In [19]:
# Drop the specified columns
merged_df3_unique = merged_df3_unique.drop(['Population (historical estimates)_x', 'Continent_x'], axis=1)

In [20]:
main_df = merged_df2.merge(merged_df3_unique, on=['Entity', 'Code', 'Year'], how='inner')
main_df

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - All causes - Sex: Both - Age: 1-4 years (Number),Deaths - All causes - Sex: Both - Age: 0-6 days (Number),Deaths - All causes - Sex: Both - Age: 28-364 days (Number),"Mortality rate, under-5, female (per 1,000 live births)","Mortality rate, under-5, male (per 1,000 live births)",Population (historical estimates),Continent,"Mortality rate, under-5 (per 1,000 live births)_x","Current health expenditure per capita, PPP (current international $)",$1.90 per day - share of population below poverty line
0,Afghanistan,AFG,1990,48.0,105.0,1779.0,718.0,431.0,8649.0,477.0,...,21812.0,15560.0,30929.0,17.389999,18.25,12412311.0,NaN,17.839999,NaN,NaN
1,Albania,ALB,1990,0.0,5.0,33.0,3.0,44.0,176.0,136.0,...,849.0,989.0,1524.0,3.690000,4.49,3286070.0,NaN,4.100000,NaN,0.960586
2,Algeria,DZA,1990,16.0,17.0,316.0,92.0,182.0,2599.0,239.0,...,6742.0,13487.0,19201.0,4.480000,5.32,25758872.0,NaN,4.910000,NaN,5.051997
3,American Samoa,ASM,1990,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,6.0,11.0,8.0,NaN,NaN,47351.0,NaN,NaN,NaN,NaN
4,Andorra,AND,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.270000,1.74,54508.0,NaN,1.510000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,Timor,TLS,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,276.0,557.0,444.0,4.590000,5.43,1196294.0,Asia,5.020000,223.410873,23.829370
6146,Timor,TLS,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,268.0,558.0,435.0,4.430000,5.24,1219289.0,NaN,4.840000,215.943512,22.279650
6147,Timor,TLS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,547.0,416.0,4.270000,5.06,1243260.0,NaN,4.680000,212.113510,21.575600
6148,Timor,TLS,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244.0,542.0,404.0,4.120000,4.89,1267975.0,NaN,4.510000,237.957001,21.821520
6149,Timor,TLS,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,540.0,396.0,3.960000,4.74,1293120.0,NaN,4.370000,220.305161,21.029470

## Data Cleaning

In [21]:
main_df.isna().sum()

Entity                                                                                                      0
Code                                                                                                        0
Year                                                                                                        0
Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)                      30
Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)                                        30
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                      30
Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)                                               30
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                     30
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                       30
Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)                                            30
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)                    30
Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)                                        30
Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)                                       30
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                      30
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                  30
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                        30
Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)                          30
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)                 30
Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)                                  30
Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)                                             30
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)      30
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                    30
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                      30
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                                30
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                            30
Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)                                30
Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)                                                 30
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                  30
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                      30
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                      30
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                       30
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                      30
Deaths - All causes - Sex: Both - Age: 7-27 days (Number)                                                   0
Deaths - All causes - Sex: Both - Age: 1-4 years (Number)                                                   0
Deaths - All causes - Sex: Both - Age: 0-6 days (Number)                                                    0
Deaths - All causes - Sex: Both - Age: 28-364 days (Number)                                                 0
Mortality rate, under-5, female (per 1,000 live births)                                                   330
Mortality rate, under-5, male (per 1,000 live births)                                                     330
Population (historical estimates)                                                                           0
Continent                                                                                                5946
Mortality rate, under-5 (per 1,000 live births)_x                                                         330
Current health expenditure per capita, PPP (current international $)                                     2396
$1.90 per day - share of population below poverty line                                                   1213
dtype: int64

In [22]:
main_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Measles - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Drowning - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Malaria - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - All causes - Sex: Both - Age: 7-27 days (Number)',
       'Deaths - All causes - Sex: Both - Age: 1-4 years (Number)',
       'Deaths - All causes - Sex: Both - Age: 0-6 days (Number)',
       'Deaths - All causes - Sex: Both - Age: 28-364 days (Number)',
       'Mortality rate, under-5, female (per 1,000 live births)',
       'Mortality rate, under-5, male (per 1,000 live births)',
       'Population (historical estimates)', 'Continent',
       'Mortality rate, under-5 (per 1,000 live births)_x',
       'Current health expenditure per capita, PPP (current international $)',
       '$1.90 per day - share of population below poverty line'],
      dtype='object')

In [23]:
# Cleaning the column names
new_column_names = {
    'Entity': 'entity',
    'Code': 'code',
    'Year': 'year',
    'Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)': 'salmonella',
    'Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)': 'interpersonal_violence',
    'Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)': 'nutritional_deficiencies',
    'Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)': 'acute_hepatitis',
    'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)': 'neoplasms',
    'Deaths - Measles - Sex: Both - Age: Under 5 (Number)': 'measles',
    'Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)': 'digestive_diseases',
    'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)': 'cirrhosis_and_chronic_liver_diseases',
    'Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)': 'chronic_kidney_disease',
    'Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)': 'cardiovascular_diseases',
    'Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)': 'congenital_birth_defects',
    'Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)': 'lower_respiratory_infections',
    'Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)': 'neonatal_preterm_birth',
    'Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)': 'environmental_heat_cold_exposure',
    'Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)': 'neonatal_sepsis_and_neonatal_infections',
    'Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)': 'exposure_to_forces_of_nature',
    'Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)': 'diabetes_mellitus',
    'Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)': 'neonatal_encephalopathy_due_to_birth_asphyxia_and_trauma',
    'Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)': 'meningitis',
    'Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)': 'other_neonatal_disorders',
    'Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)': 'whooping_cough',
    'Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)': 'diarrheal_diseases',
    'Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)': 'fire_heat_and_hot_substances',
    'Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)': 'road_injuries',
    'Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)': 'tuberculosis',
    'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)': 'hiv/aids',
    'Deaths - Drowning - Sex: Both - Age: Under 5 (Number)': 'drowning',
    'Deaths - Malaria - Sex: Both - Age: Under 5 (Number)': 'malaria',
    'Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)': 'syphilis',
    'Deaths - All causes - Sex: Both - Age: 7-27 days (Number)': 'deaths_7_27_days',
    'Deaths - All causes - Sex: Both - Age: 1-4 years (Number)': 'deaths_1_4_years',
    'Deaths - All causes - Sex: Both - Age: 0-6 days (Number)': 'deaths_0_6_days',
    'Deaths - All causes - Sex: Both - Age: 28-364 days (Number)': 'deaths_28_364_days',
    'Mortality rate, under-5, female (per 1,000 live births)': 'under_5_female_mortality',
    'Mortality rate, under-5, male (per 1,000 live births)': 'under_5_male_mortality',
    'Population (historical estimates)': 'population',
    'Continent': 'continent',
    'Mortality rate, under-5 (per 1,000 live births)_x': 'under_5_total_mortality',
    'Current health expenditure per capita, PPP (current international $)': 'health_expenditure_per_capita',
    '$1.90 per day - share of population below poverty line': 'pop_below_poverty_line',
}

df = main_df.rename(columns=new_column_names)
df

,entity,code,year,salmonella,interpersonal_violence,nutritional_deficiencies,acute_hepatitis,neoplasms,measles,digestive_diseases,...,deaths_1_4_years,deaths_0_6_days,deaths_28_364_days,under_5_female_mortality,under_5_male_mortality,population,continent,under_5_total_mortality,health_expenditure_per_capita,pop_below_poverty_line
0,Afghanistan,AFG,1990,48.0,105.0,1779.0,718.0,431.0,8649.0,477.0,...,21812.0,15560.0,30929.0,17.389999,18.25,12412311.0,NaN,17.839999,NaN,NaN
1,Albania,ALB,1990,0.0,5.0,33.0,3.0,44.0,176.0,136.0,...,849.0,989.0,1524.0,3.690000,4.49,3286070.0,NaN,4.100000,NaN,0.960586
2,Algeria,DZA,1990,16.0,17.0,316.0,92.0,182.0,2599.0,239.0,...,6742.0,13487.0,19201.0,4.480000,5.32,25758872.0,NaN,4.910000,NaN,5.051997
3,American Samoa,ASM,1990,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,6.0,11.0,8.0,NaN,NaN,47351.0,NaN,NaN,NaN,NaN
4,Andorra,AND,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.270000,1.74,54508.0,NaN,1.510000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,Timor,TLS,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,276.0,557.0,444.0,4.590000,5.43,1196294.0,Asia,5.020000,223.410873,23.829370
6146,Timor,TLS,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,268.0,558.0,435.0,4.430000,5.24,1219289.0,NaN,4.840000,215.943512,22.279650
6147,Timor,TLS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,547.0,416.0,4.270000,5.06,1243260.0,NaN,4.680000,212.113510,21.575600
6148,Timor,TLS,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244.0,542.0,404.0,4.120000,4.89,1267975.0,NaN,4.510000,237.957001,21.821520
6149,Timor,TLS,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,540.0,396.0,3.960000,4.74,1293120.0,NaN,4.370000,220.305161,21.029470

In [24]:
df.columns

Index(['entity', 'code', 'year', 'salmonella', 'interpersonal_violence',
       'nutritional_deficiencies', 'acute_hepatitis', 'neoplasms', 'measles',
       'digestive_diseases', 'cirrhosis_and_chronic_liver_diseases',
       'chronic_kidney_disease', 'cardiovascular_diseases',
       'congenital_birth_defects', 'lower_respiratory_infections',
       'neonatal_preterm_birth', 'environmental_heat_cold_exposure',
       'neonatal_sepsis_and_neonatal_infections',
       'exposure_to_forces_of_nature', 'diabetes_mellitus',
       'neonatal_encephalopathy_due_to_birth_asphyxia_and_trauma',
       'meningitis', 'other_neonatal_disorders', 'whooping_cough',
       'diarrheal_diseases', 'fire_heat_and_hot_substances', 'road_injuries',
       'tuberculosis', 'hiv/aids', 'drowning', 'malaria', 'syphilis',
       'deaths_7_27_days', 'deaths_1_4_years', 'deaths_0_6_days',
       'deaths_28_364_days', 'under_5_female_mortality',
       'under_5_male_mortality', 'population', 'continent',
       'under_5_total_mortality', 'health_expenditure_per_capita',
       'pop_below_poverty_line'],
      dtype='object')

In [25]:
df.isna().sum()

entity                                                         0
code                                                           0
year                                                           0
salmonella                                                    30
interpersonal_violence                                        30
nutritional_deficiencies                                      30
acute_hepatitis                                               30
neoplasms                                                     30
measles                                                       30
digestive_diseases                                            30
cirrhosis_and_chronic_liver_diseases                          30
chronic_kidney_disease                                        30
cardiovascular_diseases                                       30
congenital_birth_defects                                      30
lower_respiratory_infections                                  30
neonatal_preterm_birth                                        30
environmental_heat_cold_exposure                              30
neonatal_sepsis_and_neonatal_infections                       30
exposure_to_forces_of_nature                                  30
diabetes_mellitus                                             30
neonatal_encephalopathy_due_to_birth_asphyxia_and_trauma      30
meningitis                                                    30
other_neonatal_disorders                                      30
whooping_cough                                                30
diarrheal_diseases                                            30
fire_heat_and_hot_substances                                  30
road_injuries                                                 30
tuberculosis                                                  30
hiv/aids                                                      30
drowning                                                      30
malaria                                                       30
syphilis                                                      30
deaths_7_27_days                                               0
deaths_1_4_years                                               0
deaths_0_6_days                                                0
deaths_28_364_days                                             0
under_5_female_mortality                                     330
under_5_male_mortality                                       330
population                                                     0
continent                                                   5946
under_5_total_mortality                                      330
health_expenditure_per_capita                               2396
pop_below_poverty_line                                      1213
dtype: int64

In [27]:
df_missing = (df.isna().sum()/len(df))*100
df_missing

entity                                                       0.000000
code                                                         0.000000
year                                                         0.000000
salmonella                                                   0.487805
interpersonal_violence                                       0.487805
nutritional_deficiencies                                     0.487805
acute_hepatitis                                              0.487805
neoplasms                                                    0.487805
measles                                                      0.487805
digestive_diseases                                           0.487805
cirrhosis_and_chronic_liver_diseases                         0.487805
chronic_kidney_disease                                       0.487805
cardiovascular_diseases                                      0.487805
congenital_birth_defects                                     0.487805
lower_respiratory_infections                                 0.487805
neonatal_preterm_birth                                       0.487805
environmental_heat_cold_exposure                             0.487805
neonatal_sepsis_and_neonatal_infections                      0.487805
exposure_to_forces_of_nature                                 0.487805
diabetes_mellitus                                            0.487805
neonatal_encephalopathy_due_to_birth_asphyxia_and_trauma     0.487805
meningitis                                                   0.487805
other_neonatal_disorders                                     0.487805
whooping_cough                                               0.487805
diarrheal_diseases                                           0.487805
fire_heat_and_hot_substances                                 0.487805
road_injuries                                                0.487805
tuberculosis                                                 0.487805
hiv/aids                                                     0.487805
drowning                                                     0.487805
malaria                                                      0.487805
syphilis                                                     0.487805
deaths_7_27_days                                             0.000000
deaths_1_4_years                                             0.000000
deaths_0_6_days                                              0.000000
deaths_28_364_days                                           0.000000
under_5_female_mortality                                     5.365854
under_5_male_mortality                                       5.365854
population                                                   0.000000
continent                                                   96.682927
under_5_total_mortality                                      5.365854
health_expenditure_per_capita                               38.959350
pop_below_poverty_line                                      19.723577
dtype: float64

Most of the columns have very low percentage of missing values. As such, the missing values can be dealt with without dropping the columns.

For the continent column which has 96% of values missing, the column can be filled accurately by referring to geogrpahical information on the continent of each country

In [31]:
#Installing the country_converter library to use it to get the continent information
!pip install country_converter

Collecting country_converter
  Downloading country_converter-1.2-py3-none-any.whl (45 kB)
Requirement already satisfied: pandas>=1.0 in c:\users\carol\anaconda3\envs\learn-env\lib\site-packages (from country_converter) (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\carol\anaconda3\envs\learn-env\lib\site-packages (from pandas>=1.0->country_converter) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\carol\anaconda3\envs\learn-env\lib\site-packages (from pandas>=1.0->country_converter) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\carol\anaconda3\envs\learn-env\lib\site-packages (from pandas>=1.0->country_converter) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\carol\anaconda3\envs\learn-env\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.0->country_converter) (1.15.0)
Installing collected packages: country-converter
Successfully installed country-converter-1.2

In [34]:
#Import the country coverter library
import country_converter as coco

# Define a country converter object
cc = coco.CountryConverter()

# Define a dictionary to map countries/regions to continents
country_to_continent = {country: cc.convert(names=country, to='continent') for country in df['entity'].unique()}

# Map the continents to the 'entity' column in your DataFrame
df['continent'] = df['entity'].map(country_to_continent)

# Display the DataFrame to verify the changes
df

World not found in regex
Timor not found in regex

,entity,code,year,salmonella,interpersonal_violence,nutritional_deficiencies,acute_hepatitis,neoplasms,measles,digestive_diseases,...,deaths_1_4_years,deaths_0_6_days,deaths_28_364_days,under_5_female_mortality,under_5_male_mortality,population,continent,under_5_total_mortality,health_expenditure_per_capita,pop_below_poverty_line
0,Afghanistan,AFG,1990,48.0,105.0,1779.0,718.0,431.0,8649.0,477.0,...,21812.0,15560.0,30929.0,17.389999,18.25,12412311.0,Asia,17.839999,NaN,NaN
1,Albania,ALB,1990,0.0,5.0,33.0,3.0,44.0,176.0,136.0,...,849.0,989.0,1524.0,3.690000,4.49,3286070.0,Europe,4.100000,NaN,0.960586
2,Algeria,DZA,1990,16.0,17.0,316.0,92.0,182.0,2599.0,239.0,...,6742.0,13487.0,19201.0,4.480000,5.32,25758872.0,Africa,4.910000,NaN,5.051997
3,American Samoa,ASM,1990,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,6.0,11.0,8.0,NaN,NaN,47351.0,Oceania,NaN,NaN,NaN
4,Andorra,AND,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.270000,1.74,54508.0,Europe,1.510000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,Timor,TLS,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,276.0,557.0,444.0,4.590000,5.43,1196294.0,not found,5.020000,223.410873,23.829370
6146,Timor,TLS,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,268.0,558.0,435.0,4.430000,5.24,1219289.0,not found,4.840000,215.943512,22.279650
6147,Timor,TLS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,547.0,416.0,4.270000,5.06,1243260.0,not found,4.680000,212.113510,21.575600
6148,Timor,TLS,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244.0,542.0,404.0,4.120000,4.89,1267975.0,not found,4.510000,237.957001,21.821520
6149,Timor,TLS,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,540.0,396.0,3.960000,4.74,1293120.0,not found,4.370000,220.305161,21.029470

In [35]:
#Check the value counts of continent column
df.continent.value_counts()

Africa       1620
Asia         1440
Europe       1260
America      1170
Oceania       600
not found      60
Name: continent, dtype: int64

In [36]:
# Filter the DataFrame to display rows with 'not found' continent
not_found_rows = df[df['continent'] == 'not found']

# Display the filtered DataFrame
not_found_rows

,entity,code,year,salmonella,interpersonal_violence,nutritional_deficiencies,acute_hepatitis,neoplasms,measles,digestive_diseases,...,deaths_1_4_years,deaths_0_6_days,deaths_28_364_days,under_5_female_mortality,under_5_male_mortality,population,continent,under_5_total_mortality,health_expenditure_per_capita,pop_below_poverty_line
200,World,OWID_WRL,1990,29986.0,21223.0,524103.0,50184.0,85197.0,704288.0,77952.0,...,3857335.0,3026068.0,3832898.0,9.050000,9.580000,5.327529e+09,not found,9.320000,NaN,36.216580
404,World,OWID_WRL,1991,30578.0,21221.0,498575.0,48663.0,84005.0,694354.0,76096.0,...,3789276.0,3010842.0,3763264.0,8.930000,9.440000,5.414289e+09,not found,9.200000,NaN,36.037690
608,World,OWID_WRL,1992,31357.0,21212.0,473637.0,47054.0,82272.0,685081.0,73730.0,...,3685497.0,2999846.0,3649786.0,8.810000,9.310000,5.498920e+09,not found,9.070000,NaN,35.068650
812,World,OWID_WRL,1993,32353.0,21044.0,452037.0,45853.0,80413.0,665170.0,71036.0,...,3599462.0,2976122.0,3546336.0,8.700000,9.180000,5.581598e+09,not found,8.950000,NaN,34.281570
1016,World,OWID_WRL,1994,33378.0,20490.0,433745.0,44864.0,78307.0,650795.0,68090.0,...,3595802.0,2951812.0,3478889.0,8.600000,9.060000,5.663150e+09,not found,8.840000,NaN,33.204450
1220,World,OWID_WRL,1995,34369.0,20213.0,440460.0,43708.0,75976.0,639200.0,65150.0,...,3437115.0,2938805.0,3386221.0,8.420000,8.860000,5.744213e+09,not found,8.650000,NaN,31.323880
1424,World,OWID_WRL,1996,35564.0,19611.0,433921.0,41659.0,73325.0,621941.0,62204.0,...,3350455.0,2909348.0,3309045.0,8.250000,8.680000,5.824892e+09,not found,8.480000,NaN,29.717560
1628,World,OWID_WRL,1997,37089.0,18965.0,413517.0,40048.0,70998.0,600996.0,59870.0,...,3260129.0,2890372.0,3210101.0,8.060000,8.480000,5.905046e+09,not found,8.280000,NaN,29.553100
1832,World,OWID_WRL,1998,38805.0,18596.0,391914.0,38381.0,68525.0,579599.0,57504.0,...,3176499.0,2872759.0,3116019.0,7.850000,8.270000,5.984794e+09,not found,8.070000,NaN,29.888850
2036,World,OWID_WRL,1999,40828.0,18149.0,371472.0,37066.0,66285.0,552526.0,55466.0,...,3083232.0,2851313.0,3023327.0,7.620000,8.050000,6.064239e+09,not found,7.840000,NaN,28.844130
2240,World,OWID_WRL,2000,43190.0,17605.0,328575.0,35942.0,63846.0,522918.0,53442.0,...,2966641.0,2828947.0,2914716.0,7.370000,7.780000,6.143777e+09,not found,7.580000,598.500122,27.806060
2444,World,OWID_WRL,2001,45159.0,16837.0,307138.0,35011.0,61206.0,489021.0,51775.0,...,2861383.0,2797988.0,2820286.0,7.110000,7.510000,6.222912e+09,not found,7.320000,639.719666,26.923810
2648,World,OWID_WRL,2002,48453.0,16539.0,288292.0,34730.0,59131.0,450290.0,50648.0,...,2769855.0,2776140.0,2727249.0,6.840000,7.240000,6.302062e+09,not found,7.050000,678.050720,25.690940
2852,World,OWID_WRL,2003,51768.0,15716.0,253557.0,34783.0,57320.0,413246.0,49584.0,...,2680143.0,2752963.0,2632248.0,6.570000,6.960000,6.381477e+09,not found,6.780000,716.977600,24.670670
3056,World,OWID_WRL,2004,55807.0,15276.0,236203.0,35088.0,55976.0,377155.0,48925.0,...,2603693.0,2726155.0,2548174.0,6.330000,6.730000,6.461455e+09,not found,6.540000,757.250977,22.905980
3260,World,OWID_WRL,2005,60263.0,14986.0,222129.0,35637.0,55310.0,332547.0,48281.0,...,2504574.0,2694600.0,2458173.0,6.050000,6.440000,6.542205e+09,not found,6.250000,800.430908,20.977600
3464,World,OWID_WRL,2006,62275.0,14834.0,210075.0,34347.0,54694.0,266728.0,47820.0,...,2408267.0,2660117.0,2368563.0,5.790000,6.190000,6.623819e+09,not found,6.000000,858.140198,20.308500
3668,World,OWID_WRL,2007,62334.0,14550.0,197640.0,33044.0,53786.0,228097.0,47109.0,...,2319652.0,2617737.0,2278083.0,5.560000,5.950000,6.706251e+09,not found,5.760000,907.468384,19.120280
3872,World,OWID_WRL,2008,60946.0,14242.0,186406.0,32214.0,53286.0,202287.0,46257.0,...,2241890.0,2579520.0,2198254.0,5.350000,5.730000,6.789396e+09,not found,5.550000,956.359375,18.414770
4076,World,OWID_WRL,2009,60211.0,14235.0,175068.0,30516.0,52513.0,183551.0,45379.0,...,2145876.0,2532960.0,2115670.0,5.100000,5.490000,6.873078e+09,not found,5.300000,1014.747864,17.638020
4280,World,OWID_WRL,2010,59298.0,13847.0,172996.0,29169.0,51493.0,182268.0,44159.0,...,2077672.0,2482583.0,2042221.0,4.910000,5.300000,6.957138e+09,not found,5.120000,1038.084473,16.016400
4484,World,OWID_WRL,2011,55863.0,13625.0,164589.0,27237.0,50967.0,188285.0,43039.0,...,1969003.0,2432995.0,1960527.0,4.690000,5.080000,7.041509e+09,not found,4.900000,1083.643555,13.880060
4688,World,OWID_WRL,2012,53714.0,13715.0,149267.0,26625.0,50975.0,169554.0,42402.0,...,1881133.0,2385612.0,1876596.0,4.510000,4.910000,7.126145e+09,not found,4.720000,1126.468506,12.889590
4892,World,OWID_WRL,2013,51835.0,13752.0,142362.0,24201.0,50812.0,147318.0,41846.0,...,1798820.0,2341561.0,1806208.0,4.340000,4.750000,7.210900e+09,not found,4.550000,1177.091675,11.356440
5096,World,OWID_WRL,2014,49826.0,13559.0,134779.0,21226.0,50286.0,127987.0,40810.0,...,1714178.0,2279411.0,1724917.0,4.190000,4.600000,7.295610e+09,not found,4.400000,1218.206177,10.678090
5300,World,OWID_WRL,2015,48404.0,13579.0,127585.0,18870.0,49534.0,109894.0,39784.0,...,1628928.0,2227361.0,1649421.0,4.050000,4.460000,7.380118e+09,not found,4.260000,1257.441162,10.139550
5504,World,OWID_WRL,2016,50824.0,13224.0,120794.0,16349.0,48474.0,92058.0,38681.0,...,1537774.0,2141850.0,1561194.0,3.910000,4.330000,7.464344e+09,not found,4.130000,1301.969727,9.685656
5708,World,OWID_WRL,2017,51769.0,12933.0,113888.0,14661.0,46953.0,85691.0,37426.0,...,1448242.0,2059315.0,1476167.0,3.780000,4.200000,7.548183e+09,not found,4.000000,1345.745483,9.274759
5912,World,OWID_WRL,2018,50938.0,12977.0,104455.0,13369.0,45656.0,78173.0,35979.0,...,1356932.0,1995929.0,1396223.0,3.660000,4.090000,7.631091e+09,not found,3.880000,1407.340088,NaN
6116,World,OWID_WRL,2019,49869.0,12341.0,97303.0,12429.0,44452.0,69854.0,34793.0,...,1288915.0,1933601.0,1332967.0,3.550000,3.980000,7.713468e+09,not found,3.770000,1466.824707,NaN
6120,Timor,TLS,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1404.0,842.0,1985.0,16.789999,18.220000,7.378140e+05,not found,17.520000,NaN,NaN
6121,Timor,TLS,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1369.0,831.0,1976.0,16.010001,17.420000,7.595260e+05,not found,16.730000,NaN,NaN
6122,Timor,TLS,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1318.0,811.0,1939.0,15.270000,16.650000,7.832040e+05,not found,15.989999,NaN,NaN
6123,Timor,TLS,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1281.0,794.0,1892.0,14.560001,15.920000,8.068670e+05,not found,15.260001,NaN,NaN
6124,Timor,TLS,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1212.0,781.0,1828.0,13.860001,15.200000,8.278280e+05,not found,14.550000,NaN,NaN
6125,Timor,TLS,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1146.0,785.0,1762.0,13.189999,14.520000,8.443330e+05,not found,13.880000,NaN,NaN
6126,Timor,TLS,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1023.0,790.0,1672.0,12.550000,13.839999,8.553580e+05,not found,13.220000,NaN,NaN
6127,Timor,TLS,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1012.0,798.0,1590.0,11.920000,13.200000,8.618700e+05,not found,12.580000,NaN,NaN
6128,Timor,TLS,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,962.0,793.0,1503.0,11.320000,12.570000,8.665230e+05,not found,11.950000,NaN,NaN
6129,Timor,TLS,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1194.0,819.0,1488.0,10.730000,11.960000,8.731380e+05,not found,11.350000,NaN,NaN
6130,Timor,TLS,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,837.0,779.0,1346.0,10.170000,11.360000,8.843660e+05,not found,10.770000,NaN,45.727750
6131,Timor,TLS,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,791.0,768.0,1255.0,9.620000,10.770000,9.012140e+05,not found,10.210000,NaN,38.525580
6132,Timor,TLS,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,749.0,756.0,1172.0,9.080000,10.200000,9.226990e+05,not found,9.650000,NaN,37.944340
6133,Timor,TLS,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,704.0,747.0,1100.0,8.560000,9.650000,9.471100e+05,not found,9.120000,37.752769,39.298880
6134,Timor,TLS,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,642.0,727.0,1009.0,8.040000,9.120000,9.718890e+05,not found,8.600000,56.954731,37.587020
6135,Timor,TLS,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,587.0,702.0,912.0,7.560000,8.600000,9.951300e+05,not found,8.090000,73.138855,37.211830
6136,Timor,TLS,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,516.0,667.0,804.0,7.090000,8.090000,1.016437e+06,not found,7.610000,80.491669,43.883750
6137,Timor,TLS,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,461.0,639.0,719.0,6.660000,7.630000,1.036387e+06,not found,7.160000,84.077667,37.395670
6138,Timor,TLS,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,412.0,615.0,647.0,6.280000,7.240000,1.055428e+06,not found,6.770000,115.439514,43.025420
6139,Timor,TLS,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,377.0,599.0,593.0,5.960000,6.890000,1.074286e+06,not found,6.440000,132.018494,33.789400
6140,Timor,TLS,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,348.0,585.0,550.0,5.670000,6.590000,1.093517e+06,not found,6.150000,127.142517,31.231690
6141,Timor,TLS,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,324.0,575.0,514.0,5.420000,6.310000,1.113154e+06,not found,5.880000,141.389099,32.174490
6142,Timor,TLS,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,304.0,564.0,482.0,5.180000,6.060000,1.133002e+06,not found,5.630000,164.010849,30.244320
6143,Timor,TLS,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,287.0,552.0,455.0,4.970000,5.830000,1.153288e+06,not found,5.420000,211.945740,26.187150
6144,Timor,TLS,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,280.0,552.0,446.0,4.770000,5.630000,1.174333e+06,not found,5.210000,206.887268,21.958260
6145,Timor,TLS,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,276.0,557.0,444.0,4.590000,5.430000,1.196294e+06,not found,5.020000,223.410873,23.829370
6146,Timor,TLS,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,268.0,558.0,435.0,4.430000,5.240000,1.219289e+06,not found,4.840000,215.943512,22.279650
6147,Timor,TLS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,547.0,416.0,4.270000,5.060000,1.243260e+06,not found,4.680000,212.113510,21.575600
6148,Timor,TLS,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244.0,542.0,404.0,4.120000,4.890000,1.267975e+06,not found,4.510000,237.957001,21.821520
6149,Timor,TLS,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,540.0,396.0,3.960000,4.740000,1.293120e+06,not found,4.370000,220.305161,21.029470

In [37]:
# Locate the rows where the 'entity' column is 'Timor' and replace 'continent' value with 'Asia'
df.loc[df['entity'] == 'Timor', 'continent'] = 'Asia'

# Display the DataFrame to verify the changes
df

,entity,code,year,salmonella,interpersonal_violence,nutritional_deficiencies,acute_hepatitis,neoplasms,measles,digestive_diseases,...,deaths_1_4_years,deaths_0_6_days,deaths_28_364_days,under_5_female_mortality,under_5_male_mortality,population,continent,under_5_total_mortality,health_expenditure_per_capita,pop_below_poverty_line
0,Afghanistan,AFG,1990,48.0,105.0,1779.0,718.0,431.0,8649.0,477.0,...,21812.0,15560.0,30929.0,17.389999,18.25,12412311.0,Asia,17.839999,NaN,NaN
1,Albania,ALB,1990,0.0,5.0,33.0,3.0,44.0,176.0,136.0,...,849.0,989.0,1524.0,3.690000,4.49,3286070.0,Europe,4.100000,NaN,0.960586
2,Algeria,DZA,1990,16.0,17.0,316.0,92.0,182.0,2599.0,239.0,...,6742.0,13487.0,19201.0,4.480000,5.32,25758872.0,Africa,4.910000,NaN,5.051997
3,American Samoa,ASM,1990,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,6.0,11.0,8.0,NaN,NaN,47351.0,Oceania,NaN,NaN,NaN
4,Andorra,AND,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.270000,1.74,54508.0,Europe,1.510000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,Timor,TLS,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,276.0,557.0,444.0,4.590000,5.43,1196294.0,Asia,5.020000,223.410873,23.829370
6146,Timor,TLS,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,268.0,558.0,435.0,4.430000,5.24,1219289.0,Asia,4.840000,215.943512,22.279650
6147,Timor,TLS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,547.0,416.0,4.270000,5.06,1243260.0,Asia,4.680000,212.113510,21.575600
6148,Timor,TLS,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244.0,542.0,404.0,4.120000,4.89,1267975.0,Asia,4.510000,237.957001,21.821520
6149,Timor,TLS,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,540.0,396.0,3.960000,4.74,1293120.0,Asia,4.370000,220.305161,21.029470

In [38]:
#Recheck the value counts of continent column
df.continent.value_counts()

Africa       1620
Asia         1470
Europe       1260
America      1170
Oceania       600
not found      30
Name: continent, dtype: int64

In [41]:
# Replace 'not found' with NaN (null) in the 'continent' column
df['continent'].replace('not found', pd.NA, inplace=True)

# Display the updated value counts
df.continent.value_counts(dropna=False)

C:\Users\Carol\anaconda3\envs\learn-env\lib\site-packages\pandas\core\missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x

Africa     1620
Asia       1470
Europe     1260
America    1170
Oceania     600
NaN          30
Name: continent, dtype: int64

In [42]:
df['entity'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'World', 'Yemen', 'Zambia', 'Zimbabwe', 'Timor'], dtype=object)

In [43]:
# Filter the DataFrame to display rows with 'World' in entity
world_rows = df[df['entity'] == 'World']

# Display the filtered DataFrame
world_rows

,entity,code,year,salmonella,interpersonal_violence,nutritional_deficiencies,acute_hepatitis,neoplasms,measles,digestive_diseases,...,deaths_1_4_years,deaths_0_6_days,deaths_28_364_days,under_5_female_mortality,under_5_male_mortality,population,continent,under_5_total_mortality,health_expenditure_per_capita,pop_below_poverty_line
200,World,OWID_WRL,1990,29986.0,21223.0,524103.0,50184.0,85197.0,704288.0,77952.0,...,3857335.0,3026068.0,3832898.0,9.05,9.58,5.327529e+09,<NA>,9.32,NaN,36.216580
404,World,OWID_WRL,1991,30578.0,21221.0,498575.0,48663.0,84005.0,694354.0,76096.0,...,3789276.0,3010842.0,3763264.0,8.93,9.44,5.414289e+09,<NA>,9.20,NaN,36.037690
608,World,OWID_WRL,1992,31357.0,21212.0,473637.0,47054.0,82272.0,685081.0,73730.0,...,3685497.0,2999846.0,3649786.0,8.81,9.31,5.498920e+09,<NA>,9.07,NaN,35.068650
812,World,OWID_WRL,1993,32353.0,21044.0,452037.0,45853.0,80413.0,665170.0,71036.0,...,3599462.0,2976122.0,3546336.0,8.70,9.18,5.581598e+09,<NA>,8.95,NaN,34.281570
1016,World,OWID_WRL,1994,33378.0,20490.0,433745.0,44864.0,78307.0,650795.0,68090.0,...,3595802.0,2951812.0,3478889.0,8.60,9.06,5.663150e+09,<NA>,8.84,NaN,33.204450
1220,World,OWID_WRL,1995,34369.0,20213.0,440460.0,43708.0,75976.0,639200.0,65150.0,...,3437115.0,2938805.0,3386221.0,8.42,8.86,5.744213e+09,<NA>,8.65,NaN,31.323880
1424,World,OWID_WRL,1996,35564.0,19611.0,433921.0,41659.0,73325.0,621941.0,62204.0,...,3350455.0,2909348.0,3309045.0,8.25,8.68,5.824892e+09,<NA>,8.48,NaN,29.717560
1628,World,OWID_WRL,1997,37089.0,18965.0,413517.0,40048.0,70998.0,600996.0,59870.0,...,3260129.0,2890372.0,3210101.0,8.06,8.48,5.905046e+09,<NA>,8.28,NaN,29.553100
1832,World,OWID_WRL,1998,38805.0,18596.0,391914.0,38381.0,68525.0,579599.0,57504.0,...,3176499.0,2872759.0,3116019.0,7.85,8.27,5.984794e+09,<NA>,8.07,NaN,29.888850
2036,World,OWID_WRL,1999,40828.0,18149.0,371472.0,37066.0,66285.0,552526.0,55466.0,...,3083232.0,2851313.0,3023327.0,7.62,8.05,6.064239e+09,<NA>,7.84,NaN,28.844130
2240,World,OWID_WRL,2000,43190.0,17605.0,328575.0,35942.0,63846.0,522918.0,53442.0,...,2966641.0,2828947.0,2914716.0,7.37,7.78,6.143777e+09,<NA>,7.58,598.500122,27.806060
2444,World,OWID_WRL,2001,45159.0,16837.0,307138.0,35011.0,61206.0,489021.0,51775.0,...,2861383.0,2797988.0,2820286.0,7.11,7.51,6.222912e+09,<NA>,7.32,639.719666,26.923810
2648,World,OWID_WRL,2002,48453.0,16539.0,288292.0,34730.0,59131.0,450290.0,50648.0,...,2769855.0,2776140.0,2727249.0,6.84,7.24,6.302062e+09,<NA>,7.05,678.050720,25.690940
2852,World,OWID_WRL,2003,51768.0,15716.0,253557.0,34783.0,57320.0,413246.0,49584.0,...,2680143.0,2752963.0,2632248.0,6.57,6.96,6.381477e+09,<NA>,6.78,716.977600,24.670670
3056,World,OWID_WRL,2004,55807.0,15276.0,236203.0,35088.0,55976.0,377155.0,48925.0,...,2603693.0,2726155.0,2548174.0,6.33,6.73,6.461455e+09,<NA>,6.54,757.250977,22.905980
3260,World,OWID_WRL,2005,60263.0,14986.0,222129.0,35637.0,55310.0,332547.0,48281.0,...,2504574.0,2694600.0,2458173.0,6.05,6.44,6.542205e+09,<NA>,6.25,800.430908,20.977600
3464,World,OWID_WRL,2006,62275.0,14834.0,210075.0,34347.0,54694.0,266728.0,47820.0,...,2408267.0,2660117.0,2368563.0,5.79,6.19,6.623819e+09,<NA>,6.00,858.140198,20.308500
3668,World,OWID_WRL,2007,62334.0,14550.0,197640.0,33044.0,53786.0,228097.0,47109.0,...,2319652.0,2617737.0,2278083.0,5.56,5.95,6.706251e+09,<NA>,5.76,907.468384,19.120280
3872,World,OWID_WRL,2008,60946.0,14242.0,186406.0,32214.0,53286.0,202287.0,46257.0,...,2241890.0,2579520.0,2198254.0,5.35,5.73,6.789396e+09,<NA>,5.55,956.359375,18.414770
4076,World,OWID_WRL,2009,60211.0,14235.0,175068.0,30516.0,52513.0,183551.0,45379.0,...,2145876.0,2532960.0,2115670.0,5.10,5.49,6.873078e+09,<NA>,5.30,1014.747864,17.638020
4280,World,OWID_WRL,2010,59298.0,13847.0,172996.0,29169.0,51493.0,182268.0,44159.0,...,2077672.0,2482583.0,2042221.0,4.91,5.30,6.957138e+09,<NA>,5.12,1038.084473,16.016400
4484,World,OWID_WRL,2011,55863.0,13625.0,164589.0,27237.0,50967.0,188285.0,43039.0,...,1969003.0,2432995.0,1960527.0,4.69,5.08,7.041509e+09,<NA>,4.90,1083.643555,13.880060
4688,World,OWID_WRL,2012,53714.0,13715.0,149267.0,26625.0,50975.0,169554.0,42402.0,...,1881133.0,2385612.0,1876596.0,4.51,4.91,7.126145e+09,<NA>,4.72,1126.468506,12.889590
4892,World,OWID_WRL,2013,51835.0,13752.0,142362.0,24201.0,50812.0,147318.0,41846.0,...,1798820.0,2341561.0,1806208.0,4.34,4.75,7.210900e+09,<NA>,4.55,1177.091675,11.356440
5096,World,OWID_WRL,2014,49826.0,13559.0,134779.0,21226.0,50286.0,127987.0,40810.0,...,1714178.0,2279411.0,1724917.0,4.19,4.60,7.295610e+09,<NA>,4.40,1218.206177,10.678090
5300,World,OWID_WRL,2015,48404.0,13579.0,127585.0,18870.0,49534.0,109894.0,39784.0,...,1628928.0,2227361.0,1649421.0,4.05,4.46,7.380118e+09,<NA>,4.26,1257.441162,10.139550
5504,World,OWID_WRL,2016,50824.0,13224.0,120794.0,16349.0,48474.0,92058.0,38681.0,...,1537774.0,2141850.0,1561194.0,3.91,4.33,7.464344e+09,<NA>,4.13,1301.969727,9.685656
5708,World,OWID_WRL,2017,51769.0,12933.0,113888.0,14661.0,46953.0,85691.0,37426.0,...,1448242.0,2059315.0,1476167.0,3.78,4.20,7.548183e+09,<NA>,4.00,1345.745483,9.274759
5912,World,OWID_WRL,2018,50938.0,12977.0,104455.0,13369.0,45656.0,78173.0,35979.0,...,1356932.0,1995929.0,1396223.0,3.66,4.09,7.631091e+09,<NA>,3.88,1407.340088,NaN
6116,World,OWID_WRL,2019,49869.0,12341.0,97303.0,12429.0,44452.0,69854.0,34793.0,...,1288915.0,1933601.0,1332967.0,3.55,3.98,7.713468e+09,<NA>,3.77,1466.824707,NaN

We'll retain the world rows dataframe as is for exploratory data analysis and drop these rows from the main dataset because the world is a coolective entity and cannot be compared to single country entities. 

We will however retain this data in a different dataset as it has exploratory value and we can use it to derive the global averages.

In [44]:
# Drop rows where the value in the 'entity' column is 'World'
df_new = df[df['entity'] != 'World']

# Display the DataFrame after dropping the rows
df_new

,entity,code,year,salmonella,interpersonal_violence,nutritional_deficiencies,acute_hepatitis,neoplasms,measles,digestive_diseases,...,deaths_1_4_years,deaths_0_6_days,deaths_28_364_days,under_5_female_mortality,under_5_male_mortality,population,continent,under_5_total_mortality,health_expenditure_per_capita,pop_below_poverty_line
0,Afghanistan,AFG,1990,48.0,105.0,1779.0,718.0,431.0,8649.0,477.0,...,21812.0,15560.0,30929.0,17.389999,18.25,12412311.0,Asia,17.839999,NaN,NaN
1,Albania,ALB,1990,0.0,5.0,33.0,3.0,44.0,176.0,136.0,...,849.0,989.0,1524.0,3.690000,4.49,3286070.0,Europe,4.100000,NaN,0.960586
2,Algeria,DZA,1990,16.0,17.0,316.0,92.0,182.0,2599.0,239.0,...,6742.0,13487.0,19201.0,4.480000,5.32,25758872.0,Africa,4.910000,NaN,5.051997
3,American Samoa,ASM,1990,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,6.0,11.0,8.0,NaN,NaN,47351.0,Oceania,NaN,NaN,NaN
4,Andorra,AND,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.270000,1.74,54508.0,Europe,1.510000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,Timor,TLS,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,276.0,557.0,444.0,4.590000,5.43,1196294.0,Asia,5.020000,223.410873,23.829370
6146,Timor,TLS,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,268.0,558.0,435.0,4.430000,5.24,1219289.0,Asia,4.840000,215.943512,22.279650
6147,Timor,TLS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,547.0,416.0,4.270000,5.06,1243260.0,Asia,4.680000,212.113510,21.575600
6148,Timor,TLS,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244.0,542.0,404.0,4.120000,4.89,1267975.0,Asia,4.510000,237.957001,21.821520
6149,Timor,TLS,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,540.0,396.0,3.960000,4.74,1293120.0,Asia,4.370000,220.305161,21.029470

In [46]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6120 entries, 0 to 6149
Data columns (total 43 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   entity                                                    6120 non-null   object
 1   code                                                      6120 non-null   object
 2   year                                                      6120 non-null   int64
 3   salmonella                                                6090 non-null   float64
 4   interpersonal_violence                                    6090 non-null   float64
 5   nutritional_deficiencies                                  6090 non-null   float64
 6   acute_hepatitis                                           6090 non-null   float64
 7   neoplasms                                                 6090 non-null   float64
 8   measles                                                   6090 non-null   float64
 9   digestive_diseases                                        6090 non-null   float64
 10  cirrhosis_and_chronic_liver_diseases                      6090 non-null   float64
 11  chronic_kidney_disease                                    6090 non-null   float64
 12  cardiovascular_diseases                                   6090 non-null   float64
 13  congenital_birth_defects                                  6090 non-null   float64
 14  lower_respiratory_infections                              6090 non-null   float64
 15  neonatal_preterm_birth                                    6090 non-null   float64
 16  environmental_heat_cold_exposure                          6090 non-null   float64
 17  neonatal_sepsis_and_neonatal_infections                   6090 non-null   float64
 18  exposure_to_forces_of_nature                              6090 non-null   float64
 19  diabetes_mellitus                                         6090 non-null   float64
 20  neonatal_encephalopathy_due_to_birth_asphyxia_and_trauma  6090 non-null   float64
 21  meningitis                                                6090 non-null   float64
 22  other_neonatal_disorders                                  6090 non-null   float64
 23  whooping_cough                                            6090 non-null   float64
 24  diarrheal_diseases                                        6090 non-null   float64
 25  fire_heat_and_hot_substances                              6090 non-null   float64
 26  road_injuries                                             6090 non-null   float64
 27  tuberculosis                                              6090 non-null   float64
 28  hiv/aids                                                  6090 non-null   float64
 29  drowning                                                  6090 non-null   float64
 30  malaria                                                   6090 non-null   float64
 31  syphilis                                                  6090 non-null   float64
 32  deaths_7_27_days                                          6120 non-null   float64
 33  deaths_1_4_years                                          6120 non-null   float64
 34  deaths_0_6_days                                           6120 non-null   float64
 35  deaths_28_364_days                                        6120 non-null   float64
 36  under_5_female_mortality                                  5790 non-null   float64
 37  under_5_male_mortality                                    5790 non-null   float64
 38  population                                                6120 non-null   float64
 39  continent                                                 6120 non-null   object
 40  under_5_total_mortality                                   5790 non-null   float64
 41  health_expenditure_per_capita                             3734 non-null   float64
 42  pop_below_poverty_line                                    4909 non-null   float64
dtypes: float64(39), int64(1), object(3)
memory usage: 2.1+ MB